:root{
--primary: #012622ff;
--secondary: #003b36ff;
--white: #ece5f0ff;
--tertiary: #00AFB9ff;
--quaternary: rgb(177, 191, 116);
}

@font-face {
    font-family: Roboto;
    src: url(./Resources/Roboto-Regular.ttf);
  }
  
@font-face {
    font-family: Roboto;
    src: url(./Resources/Roboto-Bold.ttf);
    font-weight: bold;
  }

@font-face {
    font-family: Roboto;
    src: url(./Resources/Roboto-light.ttf);
    font-weight: light;
  }

body{
    background-color: var(--primary);
    }

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: var(--tertiary)

}

p, li{
    font-family: Roboto;
    font-size: 16px;
    font-weight:light;
}


[class$="section"], .hero-image, [class^="content"]{
    margin-left: 10vw;
    margin-right: 10vw;
}

.topnav {
    background-color: var(--primary);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--secondary);
    color: var(--white);
  }
  
  .topnav a.active {
    background-color: var(--secondary);
 
  }
  .topnav a.right{
    float: right;
  }

.hero-image {
    margin-top: 2em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../Resources/Img/cat.png);
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
  }

.about-section {
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 2em;
    background-color: var(--secondary);
    color: var(--white);
  }

.about-section h1{
    text-align:center;
}

.about-section p {
    padding: 0em 2em;
}

.portfolio-section {
    margin-top: 1em;
    padding: 1em 5em 5em;
    background-color: var(--quaternary)
  }

.portfolio-section h1 {
  color: var(--primary);
  text-align: center;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.row {
  margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
    padding: 8em 16px 8em 16px;
    text-align: center;
    background-color: var(--tertiary);
    position: relative;
  }

#card1
{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(../Resources/Img/Thumbs/Thumb1.PNG );
    background-size: cover;  
    background-position: top center; 
}

#card2
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(../Resources/Img/why.png );
    background-size: cover;  
    background-position: center; 
}

#card3
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(../Resources/Img/cat.png );
    background-size: cover;  
    background-position: center; 
}

#card4
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(../Resources/Img/cat.png );
    background-size: cover;  
    background-position: center; 
}

.card div
{
  display:flex;   
  font-family: Roboto;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.0);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    
}

.card div:hover
{
    background-color: #00b0b9da;
    color: var(--primary);
    transition: .4s ease;
}


.card div p
{
  display:flex;  
    align-items:center;
    justify-content: center;
    width: 100%;
    margin: 5vw 1vw ;
}

.overlay 
{
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay:hover{
    opacity:1;
}


@media screen and (min-width:1500px){
  [class$="section"], .hero-image, [class^="content"]{
      margin-left: 20vw;
      margin-right: 20vw;
  }
}

@media screen and (max-width: 920px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  p, li{
    font-size: 14px;
  }
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.2em;
  }

}

.contact-section
{
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 3em;
    background-color: var(--secondary);
    color: var(--white);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center
}

.contact-section p{
    padding:0em 2em;
}

.contact-icons {
  display:flex;
  justify-content: space-around;
}
.contact-icons p {
  display: block;
  padding: 25px;
  border-radius: 50%;
  margin: 1em;
  background: var(--white);
  overflow:hidden;
}

.footer {
    margin-top: 1em;
    width: 100%;
    color: var(--white);
    text-align: right;
  }

  .footer p{
    padding-right: 2rem;
    font-size: 12;
}

.hover-1 {
    background: linear-gradient(var(--tertiary) 0 0) var(--p,0%) / var(--p,0%) no-repeat;
    transition: .4s,background-position 0s;
  }
.hover-1:hover {
    --p: 100%;
  }

.content-head{
  background-color: var(--tertiary);
  margin-top: 1em;
  padding: 1em 2em;
  color: var(--white);
}

.content-body{
  margin-top: 1em;
  padding: 2em;
  padding-bottom: 2em;
  background-color: var(--secondary);
  color: var(--white);
}

.highlight{
  padding: 0em 0.5em;
  margin-left: 1em;
  border-left: 4px solid var(--primary);
  color: var(--tertiary);
}

.image-fit{
  max-width:33%;
  height:auto;
  float: right;
  margin: 0 0.5em 1em;
  overflow:hidden;

}